@import url("https://fonts.cdnfonts.com/css/a-cursive");

* {
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(148, 179, 195);
  margin: 0%;
}

.header {
  top: 0;
  width: 100%;
  position: sticky;
  overflow: auto;
  color: white;
  display: flex;
  justify-content: space-between;
  height: fit-content;
}

.name {
  font-size: xxx-large;
  float: left;
  margin-left: 7vh;
  margin-top: 2vh;
  font-family: "A Cursive", sans-serif;
  color: rgb(250, 233, 201);
}
.links {
  margin-top: 3vh;
  color: rgb(253, 249, 249);
  float: right;
  font-size: x-large;
  margin-right: 3vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.a {
  margin-right: 8vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.b {
  margin-right: 8vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.c {
  margin-right: 8vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.d {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.img {
  border-radius: 80%;
  float: right;
  margin-right: 15vh;
  margin-left: 50vh;
}

.main {
  display: flex;
}

.words {
  width: 75vh;
  height: 50vh;
  float: left;
  margin-top: 5vh;
  color: rgb(255, 253, 253);
  font-size: xx-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.motto {
  color: rgb(250, 233, 201);
  margin-top: 5vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: x-large;
}

.quotes {
  margin-left: 10vh;
  display: flex;
  flex-direction: column;
}

.stars {
  display: flex;
  flex-direction: row;
  gap: 1px;
  margin-top: 3vh;
}

.about {
  display: flex;
  color: white;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans;
}

.summary {
  color: rgb(250, 233, 201);
  margin-top: 2vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: x-large;
}

.languages {
  margin-top: 5vh;
  color: rgb(250, 233, 201);
  font-size: medium;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
